@tailwind base;
@tailwind components;
@tailwind utilities;


.ui-dialog .ui-dialog-content {
    padding: 0;
}

.ui-widget.ui-widget-content {
    border: none;
    padding: 0;
}

.ui-widget-content {
    background: none;
}

.ui-widget-header {
    background: none;
    border: none;
}

.ui-dialog .ui-dialog-title {
    visibility: hidden;
}